language: objective-c
osx_image: xcode8

env:
  - ACTION=test  PLATFORM=Mac     DESTINATION='platform=OS X'
  - ACTION=test  PLATFORM=iOS     DESTINATION='platform=iOS Simulator,name=iPhone 6S'
  - ACTION=build PLATFORM=watchOS DESTINATION='platform=watchOS Simulator,name=Apple Watch - 38mm'
  - ACTION=test  PLATFORM=tvOS    DESTINATION='platform=tvOS Simulator,name=Apple TV 1080p'

script:
  - set -o pipefail && xcodebuild -scheme ClosureKit -destination "$DESTINATION" $ACTION | xcpretty

after_success:
    - bash <(curl -s https://codecov.io/bash)
